body {
  background: floralwhite !important;
  animation: fadeIn 0.2s;
  padding: 5px;
}

.navbar {
  background: linear-gradient(to right, #a5d5ff, #2b82ff);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  font-size: 17px;
  color: beige;
  padding: 0px;
  box-shadow: 5px 5px 10px gray;
}

.navbar li a:hover {
  color: white;
}

.card {
  border-radius: 10px;
  width: 50%;
  animation: fadeIn 1s;
  margin: 10px auto;
  box-shadow: 2px 2px 12px gray;
}

.card-header {
  background: linear-gradient(to right, #a5d5ff, #2b82ff);
}

.card-box {
  width: 100%;
}

h1 {
  font-size: 70px !important;
  margin: auto 0;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  color: black !important;
  text-shadow: 2px 2px 4px #666;
}

.following-style {
  font-size: 25px;
  margin: auto 0;
  height: 20px;
  text-align: center;
  margin-bottom: 40px;
  color: black;
  text-shadow: 2px 2px 4px #666;
}

@keyframes fadeIn {
  from {
    opacity: 0.55;
    transform: rotateY(10deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
